body {
    background-color: #eceff1;
}
.rootContainer {
    min-height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.header {
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0;
    padding-right: 10vw !important;
    border: 1px solid black;
}
.header > .menu {
    float: right;
}
.fa-google {
    margin-right: 5px;
}
