body {
    background-color: #eceff1;
    font-size: 1.5rem;
}
.rootContainer {
    min-height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.header {
    height: 12vh;
    display: flex;
    align-items: center;
    padding: 0 10vw !important;
    width: 100%;
}
.header > .menu {
    display: flex;
    align-items: center;
    width: 100%;
}
.headerName {
    color: #000000;
}
.rightHeader {
    display: flex;
    margin-left: auto;
}
.item > .googleBtn,
.item > .googleBtn:hover,
.item > .googleBtn:focus {
    color: #ffffff;
    margin: 0 5px;
}

.item > .googleBtnSignOut,
.item > .googleBtnSignOut:hover,
.item > .googleBtnSignOut:focus {
    background-color: #d94831;
}
.item > .googleBtnSignIn,
.item > .googleBtnSignIn:hover,
.item > .googleBtnSignIn:focus {
    background-color: #4286f5;
}
.fa-google {
    margin-right: 5px;
}
.noUserProfilePage {
    height: 80vh;
    text-align: center;
}
.mainHomePageContainer {
    height: 82vh;
}
.countryName {
    text-align: center;
}
.map,
.displayNewsContainer {
    border: 2px solid black;
    height: 75vh;
}
.map {
    float: left;
    margin: 2.5vh 0 0 2.5vw;
    width: 54vw;
}
.displayNewsContainer {
    width: 39vw;
    float: right;
    margin: 2.5vh 2.5vw 0 0;
}
